.sidebar{
  position: fixed;
  bottom: 0;
  left: 0;
  top: 55px;
  width:72px;
  z-index: 200;
  padding-top: 5px;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(192, 192, 192);
}

.sidebar-link {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar-link:hover {
  background-color: lightgray;
}


.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;

 
}

.sidebar-link div{
  font-size: 10px;

}